@using Microsoft.AspNet.Identity
@using BugTracker.Models
@using BugTracker.Helpers

@{
    if(User.Identity.GetUserId() == null)
    {


        @Html.Action("Login","Home")


    }


    ApplicationUser user = null;
    var userId = User.Identity.GetUserId();
    var db = new ApplicationDbContext();
    if (!string.IsNullOrEmpty(userId))
    {
        user = db.Users.Find(userId);
    }

    NotificationHelper notificatinHelper = new NotificationHelper();
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BugTracker | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="icon" type="image/png" href="~/Images/Icons/icons8-project-setup-80.png" />
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->

    <link href="~/Content/dataTables.bootstrap4.css" rel="stylesheet" />

    <link href="~/Content/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <!-- iCheck -->

    <link href="~/Content/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- JQVMap -->

    <link href="~/Content/jqvmap.min.css" rel="stylesheet" />
    <!-- Theme style -->

    <link href="~/Content/adminlte.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->

    <link href="~/Content/OverlayScrollbars.min.css" rel="stylesheet" />
    <!-- Daterange picker -->

    <link href="~/Content/daterangepicker.css" rel="stylesheet" />
    <!-- summernote -->

    <link href="~/Content/summernote-bs4.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/Content/semantic.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    @RenderSection("Styless", required: false)

    <style>
        .urgent_tickets {
    background-color: #ffe6e6;
}

    </style>
</head>

<!--  Toaster for Modelas  -->
@*<div class="toast2" style="position: absolute; top: 150px; right: 420px; z-index:25">
        <div class="toast-header" style="background-color:dimgray">

            <strong class="mr-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message. dfgdfgsdfgsdf dfgsdfg
            dsfgdsfgdsfgdfgdfg
            dfgdsfgdfgdfg
            <p>dsfhkjhdsfljahsdfjh;kasdjfkasdjfk asdkfjkajsdfkjas;lkdjflksd</p>
        </div>
    </div>*@

<body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-primary navbar-gray-dark">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>

            </ul>




            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">@notificatinHelper.GetUnreadUserNotifications().Count() </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">


                        @foreach (var notification in notificatinHelper.GetUnreadUserNotifications())
                        {
                            using (Html.BeginForm("Dismiss", "TicketNotifications", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", notification.Id)


                                <a href="#" class="dropdown-item">
                                    <!-- Message Start -->
                                    <div class="media">
                                        <img src="@notification.Sender.AvatarUrl" alt="@notification.Sender.FullName" class="img-size-50 mr-3 img-circle">
                                        <div class="media-body">
                                            <h3 class="dropdown-item-title">
                                                @notification.Sender.FullName
                                                <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                            </h3>
                                            <p class="text-sm"> @notification.NotificationBody</p>
                                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> @notification.Created.ToString("MMM dd, yyyy")</p>
                                        </div>
                                    </div>
                                    <!-- Message End -->
                                </a>

                                <button type="submit" class="ui btn-block mb-1">Dismmiss</button>
                                <div class="dropdown-divider"></div>

                            }


                        }




                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>


                    </div>
                </li>
                <!-- Notifications Dropdown Menu  MENU TOP RIGHT -->







                <li class="nav-item dropdown">
                    <a class="nav-link" href="@Url.Action("LogOff", "Account")">
                        <i class="fa fa-sign-out-alt"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> sdfasfdsd asdfasdfsadfsdFERRERERER4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>


            


        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link text-center h2">
                @*<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">*@Bug<b>Tracker</b>
                @*<span class="brand-text font-weight-light">Bug<b>Traker</b></span>*@
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="@user.AvatarUrl" alt="@user.FullName" class="img-circle" data-lock-picture="@user.AvatarUrl" />
                    </div>

                    <div class="info">
                        <a href="#" class="d-block">

                            <b> @user.FirstName @user.LastName</b> <br />  @if (User.IsInRole("Admin"))
                            {
                                <i>Admin </i>
                            }
                            else if (User.IsInRole("Developer"))
                            {
                                <i>Developer</i>
                            }
                            else if (User.IsInRole("Submitter"))
                            {
                                <i>Submitter</i>
                            }
                            else if (User.IsInRole("Project Manager"))
                            {
                                <i>Project Manager</i>
                            }
                            else if (User.IsInRole("DemoAdmin"))
                            {
                                <i>Demo Admin</i>
                            }
                            else if (User.IsInRole("DemoDeveloper"))
                            {
                                <i>Demo Developer</i>
                            }
                            else if (User.IsInRole("DemoPM"))
                            {
                                <i>Demo Project Manager</i>
                            }
                            else if (User.IsInRole("DemoSubmitter"))
                            {
                                <i>Demo Submitter</i>
                            }
                        </a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
                        <li class="nav-header h3">GENERAL</li> <!--          PROJECT SECTION                   -->
                        <li class="nav-item">
                            <a href="@Url.Action("Dashboard", "Home")" class="nav-link" id="leftNavDashboard">
                                <i class="nav-icon fas fa-tachometer-alt" style="color:forestgreen"></i>
                                <p>My Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("EditProfile", "Members")" class="nav-link" id="leftNavProfile">
                                <i class="nav-icon red fas fa-user" style="color:dodgerblue"></i>
                                <p>Edit My Profile</p>
                            </a>
                        </li>



                        <li class="nav-header h3">PROJECT MANAGEMENT</li>
                        <!--          PROJECT SECTION                   -->
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Projects")" class="nav-link" id="leftNavListProjects">
                                <i class="nav-icon fas fa-project-diagram" style="color:red;"></i>
                                <p>My Projects</p>
                            </a>
                        </li>

                        @if (User.IsInRole("Admin") || User.IsInRole("DemoAdmin") || User.IsInRole("Project Manager") || User.IsInRole("DemoPM"))
                        {

                            <li class="nav-item">
                                <a href="@Url.Action("All", "Projects")" class="nav-link" id="leftNavAllListProjects">
                                    <i class="nav-icon fas fa-project-diagram" style="color:red;"></i>
                                    <p>All Projects</p>
                                </a>
                            </li>



                            <li class="nav-item">
                                <a href="@Url.Action("Create", "Projects")" class="nav-link" id="leftNavCreateProject">
                                    <i class="nav-icon fas fa-plus"></i>
                                    <p>Create a Project</p>
                                </a>
                            </li>

                            <li class="nav-header h3">USER MANAGEMENT</li>
                            <li class="nav-item">
                                <a href="@Url.Action("UsersIndex", "Admin")" class="nav-link" id="leftNavListUsers">
                                    <i class="nav-icon fas fa-users" style="color:dodgerblue"></i>
                                    <p>User List</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("ManageRoles", "Admin")" class="nav-link" id="leftNavAssignRole">
                                    <i class="nav-icon fas fa-user-tag"></i>
                                    <p>Assign Roles to Users</p>
                                </a>
                            </li>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("DemoAdmin") || User.IsInRole("Project Manager") || User.IsInRole("DemoPM"))
                        {

                            <li class="nav-item">
                                <a href="@Url.Action("UsersAndProjects", "Admin")" class="nav-link" id="leftNavAssignToProject">
                                    <i class="nav-icon fas fa-user-cog"></i>
                                    <p>Assign Users to Projects</p>
                                </a>
                            </li>
                        }

                        <li class="nav-header h3">TICKET MANAGEMENT</li>
                        <!--          Ticket SECTION                   -->
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Tickets")" class="nav-link" id="leftNavTicketList">
                                <i class="nav-icon fas fa-ticket-alt" style="color:greenyellow"></i>
                                <p>View All Tickets</p>
                            </a>
                        </li>

                        @if (User.IsInRole("Submitter") || User.IsInRole("DemoSubmitter"))
                        {
                            <li class="nav-item ">
                                <a href="@Url.Action("Create", "Tickets")" id="leftNavCreateTicket" class="nav-link">
                                    <i class="nav-icon fas fa-book"></i>
                                    <p>Create a Ticket</p>
                                </a>
                            </li>
                        }



                    </ul>

                    <ul class="nav nav-pills nav-sidebar flex-column mt-5" data-widget="treeview" role="menu" data-accordion="false" style="background-color:royalblue;">
                        <li class="nav-item">
                            <a class="nav-link text-center"  href="@Url.Action("LogOff", "Account")"><i class="nav-icon fas fa-door-open"></i>Log Out</a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="background-color:white;">



            @RenderBody()


            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2019 <a href="http://adminlte.io">BugTracker</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->

    <script src="~/Scripts/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->

    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->

    <script src="~/Scripts/Chart.min.js"></script>
    <!-- Sparkline -->

    <script src="~/Scripts/sparkline.js"></script>
    <!-- JQVMap -->

    <script src="~/Scripts/jquery.vmap.min.js"></script>

    <script src="~/Scripts/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->

    <script src="~/Scripts/jquery.knob.min.js"></script>
    <!-- daterangepicker -->

    <script src="~/Scripts/moment.min.js"></script>

    <script src="~/Scripts/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->

    <script src="~/Scripts/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->

    <script src="~/Scripts/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->

    <script src="~/Scripts/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->

    <script src="~/Scripts/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Scripts/jquery.flot.js"></script>
    <script src="~/Scripts/jquery.flot.time.js"></script>

    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/summernote-bs4.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.select.min.js"></script>
    @RenderSection("scripts", required: false)
    <!-- AdminLTE for demo purposes -->
    @*<script src="dist/js/demo.js"></script>*@
    <script src="~/Scripts/semantic.min.js"></script>
    <script src="~/Scripts/sweetalert2.min.js"></script>
    

    <script>
        $(function () {
            $("#ticketsTable, #UsersIndex,#projectsTable").DataTable();
            //$('#ticketsTable').DataTable({
            //    "retrieve": true,
            //    "paging": true,
            //    "lengthChange": false,
            //    "searching": true,
            //    "ordering": true,
            //    "info": true,
            //    "autoWidth": false,
            //});

           $("#usersAvailable").DataTable({
              select: {
              style: 'multi',
                   autoFill: true,
                   
               },
               paging: false,
               ordering: false,
               searching: false,
               info: false,
               
          });
        });

                


    </script>
</body>
</html>
