
@*@using BugTracker.Models
@model LoginViewModel*@

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">*@
    <link href="~/Content/all.min.css" rel="stylesheet" />

    <!-- Ionicons -->
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">


    <!-- icheck bootstrap -->
    @**<link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">*@

    <link href="~/Content/icheck-bootstrap.min.css" rel="stylesheet" />

    <!-- Theme style -->
    @*@<link rel="stylesheet" href="../../dist/css/adminlte.min.css">*@
    <link href="~/Content/adminlte.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition ">
    <div class="">
        <div class="login-logo mt-5">
            <a href="../../index2.html"><b>Bug</b>TRACKER</a>
        </div>
       
        <!-- /.login-logo -->
        <div class="card">
            
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-12 text-center h1">
                       Demo Logins

                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("DemoEmail", "DemoAdminEmail")

                            <section class="panel">
                                <header class="panel-heading bg-white">
                                    <div class="panel-heading-icon bg-primary mt-sm">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <h3 class="text-semibold mt-none text-center">Demo Admin</h3>
                                    <p class="text-center">Logging in as the Demo Admin gives you full access to the BugTracker's suite of functionality...</p>
                                    <button type="submit" class="btn btn-xs btn-primary">Login</button>
                                </div>
                            </section>


                        }
                    </div>




                    <div class="col-md-3">
                        @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("DemoEmail", "DemoProjectManagerEmail")
                            <section class="panel">
                                <header class="panel-heading bg-white">
                                    <div class="panel-heading-icon bg-primary mt-sm">
                                        <i class="fa fa-rocket"></i>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <h3 class="text-semibold mt-none text-center">Demo Project Manager</h3>
                                    <p class="text-center">Nullam quiris risus eget urna mollis ornare vel eu leo. Soccis natoque penatibus et magnis dis parturient montes. Soccis natoque penatibus et magnis dis parturient montes.</p>
                                    <button type="submit" class="btn btn-xs btn-primary">Login</button>
                                </div>
                            </section>
                        }
                    </div>

                    <div class="col-md-3">
                        @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("DemoEmail", "DemoDeveloperEmail")
                            <section class="panel">
                                <header class="panel-heading bg-white">
                                    <div class="panel-heading-icon bg-primary mt-sm">
                                        <i class="fa fa-rocket"></i>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <h3 class="text-semibold mt-none text-center">Demo Developer</h3>
                                    <p class="text-center">Nullam quiris risus eget urna mollis ornare vel eu leo. Soccis natoque penatibus et magnis dis parturient montes. Soccis natoque penatibus et magnis dis parturient montes.</p>
                                    <button type="submit" class="btn btn-xs btn-primary">Login</button>
                                </div>
                            </section>
                        }
                    </div>



                    <div class="col-md-3">
                        @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("DemoEmail", "DemoSubmitterEmail")
                            <section class="panel">
                                <header class="panel-heading bg-white">
                                    <div class="panel-heading-icon bg-primary mt-sm">
                                        <i class="fa fa-rocket"></i>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <h3 class="text-semibold mt-none text-center">Demo Submitter</h3>
                                    <p class="text-center">Nullam quiris risus eget urna mollis ornare vel eu leo. Soccis natoque penatibus et magnis dis parturient montes. Soccis natoque penatibus et magnis dis parturient montes.</p>
                                    <button type="submit" class="btn btn-xs btn-primary">Login</button>
                                </div>
                            </section>
                        }
                    </div>

                </div>
            </div>


        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    @**<script src="../../plugins/jquery/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    @* <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    @**<script src="../../dist/js/adminlte.min.js"></script>*@
    <script src="~/Scripts/adminlte.min.js"></script>
</body>
</html>

